* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "RobotoMonoNerdFont";
  font-size: 1.1rem;
}

//Global Styles
.bar {
  color: #b0b4bc;
  padding: 2px;
}

.status-bar {
 .primary {
    background-color: #55704f;
    border-color: #4e7247;
    border-width: 4px;
    border-style: outset;
    border-radius: 25px 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
 }
 .secondary {
    background-color: #979a9e;
    color: #901222;
    border-color: #7c8c87;
    border-width: 4px;
    border-style: outset;
    border-radius: 25px 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .icon {
    font-size: 1.5rem;
  }
}


// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #b03f16;
  color: #000000;
  border-radius: 25px 25px;
}
.metric scale trough {
  all: unset;
  background-color: #222222;
  border-color: #222222;
  border-width: 4px;
  border-style: outset;
  border-radius: 25px 25px;
  min-height: 30px;
  min-width: 400px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #D35D6E;
}

